<section id="footerMain" class="flex" style="padding-left: 20px; padding-bottom: 20px;">
    <div id="footerLeft" class="foot-box">
      <div id="footLogoBox" style="padding-left: 30px;">
        <img src="/images/logo.png" style="width:100px;height:70px;">
      </div>
      <p>Current server time：</p>
      <div id="bottomServTime" class="flex"><time id="serverTime"></time></div>
      <div id="copyRight">Site slow? <a href="/status">Server status</a></div>
      <br>
      <div id="copyRight">© 2021 Coin-Tunnel All Rights Reserved.</div>
    </div>
    <dl>
      <dt>About</dt>
      <dd>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="https://github.com/Joshua-Zou/Coin-Tunnel">Careers</a></li>
          <li><a href="/tos">Terms of Service</a></li>
          <li><a href="/privacy-policy">Privacy Policy</a></li>          
          <li><a href="/cookie-policy">Cookie Policy</a></li>
          <li><a href="/images/logo.png">LOGO download</a></li>
        </ul>
      </dd>
    </dl>
    <dl>
      <dt>Products</dt>
      <dd>
        <ul>
          <li><a href="https://docs.coin-tunnel.ml">Merchant API</a></li>
          <li><a href="/dashboard-b">Cloud Wallets</a></li>
          <li><a href="/dashboard-m">Merchants</a></li>
          <li><a href="https://docs.coin-tunnel.ml">Payment Gateway</a></li>            
        </ul>
      </dd>
    </dl>
    <dl>
        <dt>Help</dt>
        <dd>
          <ul>
            <li><a href="https://docs.coin-tunnel.ml">Merchant help</a></li>
            <li><a href="/contact" target="_blank">Support Ticket</a></li>
            <li><a href="https://github.com/Joshua-Zou/Coin-Tunnel">Bug Bounty</a></li>
            <li><a href="https://github.com/Joshua-Zou/Coin-Tunnel/issues">Feedback</a></li>
            <li><a href="/tos">ToS</a></li>
          </ul>
        </dd>
    </dl>
    <dl>
        <dt>Pages</dt>
        <dd>
          <ul>
            <li><a href="/signup-m">Merchant signup</a></li>
            <li><a href="/dashboard-m" target="_blank">Merchant Dashboard</a></li>
            <li><a href="/signup-b">Buyer signup</a></li>
            <li><a href="/dashboard-b">Buyer dashboard</a></li>
            <li><a href="/changeAddress">Change deposit address</a></li>
          </ul>
        </dd>
      </dl>
    <dl id="footerRight" class="foot-box">
      <dt>Contact us</dt>
      <dd>
        <div><span>Email us：</span><a href="mailto:cointunnel.0x@gmail.com">cointunnel.0x@gmail.com</a></div>          
       
      </dd>
    </dl>
</section>