{
  "mongodb":"mongodbconnectionstring",
  "googleClient":"google client",
  "secret":".....",
  "github_buyer":"foo bar",
  "github_merchant":"boo far",
  "gmail_password":"gmailpass",
  "reqsession":"random characters",
  "etherScan":"etherscanthing",
  "infura":"infura login",
  "domain":"http://localhost:3000"
}