<html style="font-size: 16px;">
<link data-react-helmet="true" rel="icon" href="/images/smallLogo.png">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Sign up with a platform of your choice">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Change address</title>
    <link rel="stylesheet" href="index.css" media="screen">
    <script class="u-script" type="text/javascript" src="/javascript/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/javascript/main.js" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link rel="stylesheet" href="/common.css">
    <link rel="stylesheet" href="/style.css">
    <script class="u-script" type="text/javascript" src="/javascript/websocket.js" defer=""></script>
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "Site1",
		"url": "index.html"
}</script>
    <meta property="og:title" content="Page 1">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#478ac9">
    <meta property="og:url" content="index.html">
    <%- include('partials/preload.ejs') %>
  </head>
    <body data-home-page="/" data-home-page-title="Home" class="u-body"><header class="u-clearfix u-header u-header" id="sec-a555"><div class="u-clearfix u-sheet u-sheet-1">
        <a href="/" class="u-image u-logo u-image-1">
          <img src="/images/logo.png" class="u-logo-image u-logo-image-1" data-image-width="109">
        </a>
        <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;"><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</symbol>
</defs></svg>
            </a>
          </div>
          <div class="u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/" style="padding: 10px 20px;">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" onclick="signout()" href="#"style="padding: 10px 20px;">Signout</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/dashboard-m" style="padding: 10px 20px;">Merchant Dashboard</a>
</li></ul>
          </div>
          <div class="u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" onclick = "signout()" href="#">Sign Out</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/dashboard-m">Merchant Dashboard</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div></header>
    <section class="u-align-center u-clearfix u-section-1" id="sec-5cf5">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h2 class="u-text u-text-1">Enter your bitcoin public address below<br>(Also sometimes called deposit address)
        </h2>
        <div class="u-form u-form-1">
            <div class="u-form-group u-form-group-1">
              <label for="text-36c2" class="u-form-control-hidden u-label"></label>
              <input type="text" placeholder="" id="text-36c2" name="text" class="u-border-1 u-border-grey-30 u-input u-input-rectangle">
            </div>
            <div class="u-form-group u-form-submit">
              <a href="#" onclick="submit()"class="u-btn u-btn-submit u-button-style">Add</a>
            </div>
            <div class="u-form-send-message u-form-send-success">#FormSendSuccess</div>
            <div class="u-form-send-error u-form-send-message">#FormSendError</div>
            <input type="hidden" value="" name="recaptchaResponse">
        </div>
      </div>
    </section>
    
    
    <%- include('partials/footer.ejs') %>

  
</body></html>
<style>
.u-section-1 .u-sheet-1 {
  min-height: 222px;
}

.u-section-1 .u-text-1 {
  width: 655px;
  margin: 40px auto 0;
}

.u-section-1 .u-form-1 {
  height: 77px;
  width: 655px;
  margin: 26px auto 40px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    text-transform: none;
    letter-spacing: normal;
    font-weight: normal;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}
</style>
<script>

    function onLoad() {
      gapi.load('auth2', function() {
        gapi.auth2.init();
      });
    }


function submit(){
   let address = document.getElementById("text-36c2").value;
   if (!address) alert("Invalid bitcoin address!");
   var xhr = new XMLHttpRequest();

  xhr.open("POST", "/changeMerchantAddress");
  xhr.setRequestHeader('Content-Type', 'application/json');
xhr.onload = function() {
console.log(xhr.response)
  if (xhr.response.includes("good")){
  alert("An email has been sent to the connected email address (check your spam folder)")
  window.location.href = "/dashboard-m"
  }else{
  alert(xhr.response)
  }
};
xhr.send(JSON.stringify({
bitcoin: address
}));

}
</script>