<!DOCTYPE html>
<link data-react-helmet="true" rel="icon" href="/images/smallLogo.png">
<html style="font-size: 16px;">

<head>
  <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="keywords" content="Sign up with a platform of your choice">
  <meta name="description" content="">
  <meta name="page_type" content="np-template-header-footer-from-plugin">
  <meta name="google-signin-client_id"
    content="624982618606-sikfqo89mp5jkb01fgp4tlreoqul5r4v.apps.googleusercontent.com">
  <title>signup-b</title>
  <link rel="stylesheet" href="index.css" media="screen">
  <script class="u-script" type="text/javascript" src="/javascript/jquery.js" defer=""></script>
  <script class="u-script" type="text/javascript" src="/javascript/main.js" defer=""></script>
  <link id="u-theme-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
  <link rel="stylesheet" href="/common.css">
  <link rel="stylesheet" href="/style.css">
  <script class="u-script" type="text/javascript" src="/javascript/websocket.js" defer=""></script>

  <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"url": "index.html",
		"logo": "images/unknown-removebg-preview.png"
}</script>
  <meta property="og:title" content="Home">
  <meta property="og:type" content="website">
  <meta name="theme-color" content="#478ac9">
  <link rel="canonical" href="index.html">
  <meta property="og:url" content="index.html">
  <%- include('partials/preload.ejs') %>
</head>

<body data-home-page="Home.html" data-home-page-title="Home" class="u-body">
  <header class="u-clearfix u-header u-header" id="sec-a555">
    <div class="u-clearfix u-sheet u-sheet-1">
      <a href="/" class="u-image u-logo u-image-1">
        <img src="/images/logo.png" class="u-logo-image u-logo-image-1" data-image-width="109">
      </a>
      <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
        <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
          <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
            href="#">
            <svg>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use>
            </svg>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <defs>
                <symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;">
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </symbol>
              </defs>
            </svg>
          </a>
        </div>
        <div class="u-nav-container">
          <ul class="u-nav u-unstyled u-nav-1">
            <li class="u-nav-item"><a
                class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/"
                style="padding: 10px 20px;">Home</a>
            </li>
            <li class="u-nav-item"><a
                class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                onclick="signout()" href="#" style="padding: 10px 20px;">Signout</a>
            </li>
            <li class="u-nav-item"><a
                class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                href="/signup-b" style="padding: 10px 20px;">Sign up</a>
            </li>
            <li class="u-nav-item"><a
                class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                href="/dashboard-b" style="padding: 10px 20px;">Buyer Dashboard</a>
            </li>
            <li class="u-nav-item">
              Toggle dark theme
            </li>
            <label class="switch">
              <input type="checkbox" onclick="changeTheme()" id="bigTheme">
              <span class="slider round"></span>
            </label>
          </ul>
        </div>
        <div class="u-nav-container-collapse">
          <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
            <div class="u-sidenav-overflow">
              <div class="u-menu-close"></div>
              <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/">Home</a>
                </li>
                <li class="u-nav-item"><a class="u-button-style u-nav-link" onclick="signout()" href="#">Sign Out</a>
                </li>
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/signup-b">Sign up</a>
                </li>
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/dashboard-b">Buyer Dashboard</a>
                </li>
                <li class="u-nav-item">
                  Toggle dark theme
                </li>
                <label class="switch">
                  <input type="checkbox" onclick="changeTheme()" id="smallTheme">
                  <span class="slider round"></span>
                </label>
              </ul>
            </div>
          </div>
          <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
        </div>
      </nav>
    </div>
  </header>
  <section class="u-align-center u-clearfix u-section-1" id="sec-4f74">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h2 class="u-text u-text-1">Sign in with a platform of your choice</h2>
      <p id="error" class="u-text u-text-2">We support Google Oauth2, Github Oauth2, and Discord Oauth2</p>
      <div class="u-expanded-width u-list u-repeater u-list-1">
        <div class="u-container-style u-list-item u-repeater-item">
          <div class="u-container-layout u-similar-container u-container-layout-1"><span
              class="u-file-icon u-icon u-icon-circle u-spacing-25 u-white u-icon-1"><img src="/images/google.png"
                alt=""></span>
            <h3 class="u-align-center u-text u-text-3">Google</h3>
            <p class="u-align-center u-text u-text-4">Sign in with Google</p>

            <div class="g-signin2 u-border-palette-2-light-1 u-btn u-none u-text-body-color u-btn-2"
              data-onsuccess="onSignIn" onclick="checkUser()"> SIGN IN!</div>

          </div>
        </div>
        <div class="u-align-center u-container-style u-list-item u-repeater-item">
          <div class="u-container-layout u-similar-container u-container-layout-2"><span
              class="u-file-icon u-icon u-icon-circle u-spacing-25 u-white u-icon-2"><img src="/images/github.png"
                alt=""></span>
            <h3 class="u-align-center u-text u-text-5">Github</h3>
            <p class="u-align-center u-text u-text-6">Sign in with Github</p>
            <a href="https://github.com/login/oauth/authorize?client_id=c5781bcd6196007a6e16&scope=user:email"
              class="u-active-none u-border-2 u-border-palette-2-light-1 u-btn u-btn-rectangle u-button-style u-hover-none u-none u-text-body-color u-btn-2">
              <h7 class="u-align-center u-text u-text-3">Sign in!</h7>
            </a>
          </div>
        </div>
        <div class="u-align-center u-container-style u-list-item u-repeater-item">
          <div class="u-container-layout u-similar-container u-container-layout-3"><span
              class="u-file-icon u-icon u-icon-circle u-spacing-25 u-white u-icon-3"><img src="/images/discord.png"
                alt=""></span>
            <h3 class="u-align-center u-text u-text-7">Discord</h3>
            <p class="u-align-center u-text u-text-8">Sign in with Discord</p>
            <a href="/signin-buyer-discord"
              class="u-active-none u-border-2 u-border-palette-2-light-1 u-btn u-btn-rectangle u-button-style u-hover-none u-none u-text-body-color u-btn-2">
              <h7 class="u-align-center u-text u-text-3">Sign in!</h7>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include('partials/footer.ejs') %>

</body>

</html>
<script>
  var googleperm = false
  async function onSignIn(googleUser) {
    console.log(googleperm)
    if (googleperm === false) return;
    console.log("a;sldfkja;slkdfja;sldkfj")
    await sleep(2000)
    var profile = googleUser.getBasicProfile();
    let id = profile.getId();
    console.log('ID: ' + id); // Do not send to your backend! Use an ID token instead.
    console.log('Name: ' + profile.getName());
    console.log('Image URL: ' + profile.getImageUrl());
    console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/validateGoogleSignin');
    xhr.withCredentials = true;
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.onload = function () {
      console.log(xhr.response)
      if (xhr.response.includes("good")) {
        window.location.href = "/dashboard-b"
      } else {
        document.getElementById("error").innerHTML = xhr.response
      }
    };
    //document.getElementById("custId").value = googleUser.getAuthResponse().id_token;
    //var wait=setTimeout("document.hidden.submit();",2000);
    xhr.send(JSON.stringify({ 'idtoken': googleUser.getAuthResponse().id_token, "requested": id, "email": profile.getEmail() }));


  }
  function checkUser() {
    document.getElementById("loadinggif2").style.display = "block";
    googleperm = true;
  }
  function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
  }
</script>