<!DOCTYPE html>
<link data-react-helmet="true" rel="icon" href="/images/smallLogo.png">
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Sign up with a platform of your choice">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Welcome As a Merchant</title>
    <link rel="stylesheet" href="index.css" media="screen">
<link rel="stylesheet" href="welcome-m.css" media="screen">
    <script class="u-script" type="text/javascript" src="/javascript/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/javascript/main.js" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    
    <link rel="stylesheet" href="/common.css">
    <link rel="stylesheet" href="/style.css">
    <script class="u-script" type="text/javascript" src="/javascript/websocket.js" defer=""></script>
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "Site1",
		"url": "index.html"
}</script>
    <meta property="og:title" content="Welcome As a Merchant">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#478ac9">
    <link rel="canonical" href="index.html">
    <meta property="og:url" content="index.html">
    <%- include('partials/preload.ejs') %>
  </head>
  <body data-home-page="/" data-home-page-title="Home" class="u-body"><header class="u-clearfix u-header u-header" id="sec-a555"><div class="u-clearfix u-sheet u-sheet-1">
        <a href="/" class="u-image u-logo u-image-1">
          <img src="/images/logo.png" class="u-logo-image u-logo-image-1" data-image-width="109">
        </a>
        <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;"><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</symbol>
</defs></svg>
            </a>
          </div>
          <div class="u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/" style="padding: 10px 20px;">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" onclick="signout()" href="#"style="padding: 10px 20px;">Signout</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/dashboard-b" style="padding: 10px 20px;">Log in</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/dashboard-m" style="padding: 10px 20px;">Seller Dashboard</a>
</li></ul>
          </div>
          <div class="u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" onclick = "signout()" href="#">Sign Out</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/dashboard-b">Log in</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/dashboard-m">Seller</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div></header>
    <section class="u-align-center u-clearfix u-section-1" id="sec-4f74">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-1">Welcome to the Coin Tunnel platform!</h2>
        <p class="u-text u-text-2">To get started, you first should add your wallet address below, and then view our <a href="https://docs.coin-tunnel.ml" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1">docs</a>.
        </p>
        <div class="u-expanded-width u-list u-repeater u-list-1">
          <div class="u-container-style u-list-item u-repeater-item">
            <div class="u-container-layout u-similar-container u-container-layout-1"><span class="u-icon u-icon-circle u-spacing-25 u-white u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-98b7"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 512 512" id="svg-98b7"><path d="m184 248h304v176h-304z" fill="#35a872"></path><circle cx="336" cy="328" fill="#3dc285" r="80"></circle><circle cx="112" cy="112" fill="#ffd33a" r="80"></circle><circle cx="144" cy="112" fill="#ffd33a" r="80"></circle><circle cx="176" cy="112" fill="#ffd33a" r="80"></circle><path d="m184 248v48a48 48 0 0 0 48-48z" fill="#3dc285"></path><path d="m488 248v48a48 48 0 0 1 -48-48z" fill="#3dc285"></path><path d="m184 424v-48a48 48 0 0 1 48 48z" fill="#f0dfce"></path><path d="m184 280h304v176h-304z" fill="#35a872"></path><path d="m184 280v48a48 48 0 0 0 48-48z" fill="#3dc285"></path><path d="m488 280v48a48 48 0 0 1 -48-48z" fill="#3dc285"></path><path d="m184 456v-48a48 48 0 0 1 48 48z" fill="#f0dfce"></path><path d="m488 456v-48a48 48 0 0 0 -48 48z" fill="#3dc285"></path><circle cx="336" cy="360" fill="#3dc285" r="80"></circle><path d="m152 312h304v176h-304z" fill="#35a872"></path><g fill="#3dc285"><path d="m152 312v48a48 48 0 0 0 48-48z"></path><path d="m456 312v48a48 48 0 0 1 -48-48z"></path><path d="m152 488v-48a48 48 0 0 1 48 48z"></path><path d="m456 488v-48a48 48 0 0 0 -48 48z"></path><circle cx="304" cy="400" r="88"></circle>
</g><path d="m424 160h32l-56 56-56-56h40a96 96 0 0 0 -96-96h40a96 96 0 0 1 96 96z" fill="#c3c6c7"></path><path d="m112 384c-34.97-.44-64-28.92-64-63.99v-32h-24l40-56 40 56h-24v64c0 17.39 14.72 31.55 32 31.99z" fill="#c3c6c7"></path><path d="m112 208a96.867 96.867 0 0 0 15.967-1.346 95.769 95.769 0 0 0 32 0 96 96 0 1 0 0-189.308 95.763 95.763 0 0 0 -32 0 96 96 0 1 0 -15.967 190.654zm64-176a80 80 0 1 1 -80 80 80.091 80.091 0 0 1 80-80zm-59.875 5.019a95.878 95.878 0 0 0 0 149.962 79.992 79.992 0 0 1 0-149.962zm-32 0a95.878 95.878 0 0 0 0 149.962 79.992 79.992 0 0 1 0-149.962z"></path><path d="m176 248v56h-24a8 8 0 0 0 -8 8v176a8 8 0 0 0 8 8h304a8 8 0 0 0 8-8v-24h24a8 8 0 0 0 8-8v-208a8 8 0 0 0 -8-8h-304a8 8 0 0 0 -8 8zm-16 232v-31.2a40.126 40.126 0 0 1 31.2 31.2zm288 0h-31.2a40.126 40.126 0 0 1 31.2-31.2zm0-47.419a56.112 56.112 0 0 0 -47.419 47.419h-43.581a95.922 95.922 0 0 0 0-160h43.578a56.112 56.112 0 0 0 47.422 47.419zm-144 47.419a80 80 0 1 1 80-80 80.091 80.091 0 0 1 -80 80zm176-32h-16v-24a40.041 40.041 0 0 1 16-7.181zm0-47.412a56.179 56.179 0 0 0 -16 4.83v-74.832a55.52 55.52 0 0 0 16 4.833zm0-144.588v16h-24a39.875 39.875 0 0 1 -7.188-16zm0 32v31.2a39.821 39.821 0 0 1 -16-7.222 8 8 0 0 0 -7.974-7.978 39.815 39.815 0 0 1 -7.222-16zm-32 63.2a40.126 40.126 0 0 1 -31.2-31.2h31.2zm-15.422-95.2a55.85 55.85 0 0 0 4.831 16h-29.866a96.239 96.239 0 0 0 -18.454-16zm0 32a55.52 55.52 0 0 0 4.833 16h-29.868a96.239 96.239 0 0 0 -18.454-16zm-96.578-32a79.74 79.74 0 0 1 48.008 16h-96.017a79.739 79.739 0 0 1 48.009-16zm0 32a79.74 79.74 0 0 1 48.008 16h-96.017a79.739 79.739 0 0 1 48.009-16zm-96.578-32h43.488a96.275 96.275 0 0 0 -18.455 16h-29.864a55.85 55.85 0 0 0 4.831-16zm0 32h43.488a96.275 96.275 0 0 0 -18.455 16h-29.864a55.85 55.85 0 0 0 4.831-16zm-47.422-32h31.185a39.875 39.875 0 0 1 -7.185 16h-24zm0 32h31.185a39.875 39.875 0 0 1 -7.185 16h-24zm15.419 32h43.581a95.922 95.922 0 0 0 0 160h-43.581a56.112 56.112 0 0 0 -47.419-47.419v-65.162a56.112 56.112 0 0 0 47.419-47.419zm-47.419 31.2v-31.2h31.2a40.119 40.119 0 0 1 -31.2 31.2z"></path><path d="m288 72a88.119 88.119 0 0 1 87.64 80h-31.64a8 8 0 0 0 -5.657 13.657l56 56a8 8 0 0 0 11.314 0l56-56a8 8 0 0 0 -5.657-13.657h-24.3a104.139 104.139 0 0 0 -103.7-96h-40a8 8 0 0 0 0 16zm128 88a8 8 0 0 0 8 8h12.687l-36.687 36.686-36.687-36.686h20.687a8 8 0 0 0 8-8 103.98 103.98 0 0 0 -45.706-86.088 88.151 88.151 0 0 1 69.706 86.088z"></path><path d="m111.9 392h.1a8 8 0 0 0 .2-16c-13.116-.332-24.2-11.319-24.2-23.99v-56h16a8 8 0 0 0 6.51-12.65l-40-56a8 8 0 0 0 -13.02 0l-40 56a8 8 0 0 0 6.51 12.65h16v24c0 39.196 32.254 71.49 71.9 71.99zm-72.354-111.99 24.454-34.237 24.454 34.237h-8.454a8 8 0 0 0 -8 8v64a38.523 38.523 0 0 0 .752 7.579 55.433 55.433 0 0 1 -16.752-39.579v-32a8 8 0 0 0 -8-8z"></path><path d="m304 376h16a8 8 0 0 0 0-16h-8v-8a8 8 0 0 0 -16 0v9.376a24 24 0 0 0 8 46.624 8 8 0 0 1 0 16h-16a8 8 0 0 0 0 16h8v8a8 8 0 0 0 16 0v-9.376a24 24 0 0 0 -8-46.624 8 8 0 0 1 0-16z"></path><path d="m144 160h8v8a8 8 0 0 0 16 0v-8h16v8a8 8 0 0 0 16 0v-10.707a27.97 27.97 0 0 0 7.569-45.293 27.97 27.97 0 0 0 -7.569-45.293v-10.707a8 8 0 0 0 -16 0v8h-16v-8a8 8 0 0 0 -16 0v8h-8a8 8 0 0 0 -8 8v80a8 8 0 0 0 8 8zm8-80h36a12 12 0 0 1 0 24h-36zm0 40h36a12 12 0 0 1 0 24h-36z"></path></svg></span>
              <h3 class="u-align-center u-text u-text-3">Add your public address (BTC)</h3>
              <p class="u-align-center u-text u-text-4">Add your deposit address, so we can transfer the money to you! (Don't worry this isn't confidential, it's Public for a reason)</p>
              <a href="/changeAddress" class="u-active-none u-border-2 u-border-palette-2-light-1 u-btn u-btn-rectangle u-button-style u-hover-none u-none u-text-body-color u-btn-2">Add</a>
            </div>
          </div>
          <div class="u-align-center u-container-style u-list-item u-repeater-item">
            <div class="u-container-layout u-similar-container u-container-layout-2"><span class="u-icon u-icon-circle u-spacing-25 u-white u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-b6a0"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 512 512" id="svg-b6a0"><g><path d="m504.5 151h-497v-42c0-16.569 13.431-30 30-30h437c16.569 0 30 13.431 30 30z" fill="#43809f"></path><path d="m474.5 79v72h30v-42c0-16.569-13.431-30-30-30z" fill="#3a7190"></path><path d="m474.5 433h-437c-16.569 0-30-13.431-30-30v-252h497v252c0 16.569-13.431 30-30 30z" fill="#a9dbf5"></path><path d="m474.5 151v282c16.569 0 30-13.431 30-30v-252z" fill="#88c3e0"></path><circle cx="55.507" cy="115.371" fill="#29cef6" r="15"></circle><circle cx="113.666" cy="115.371" fill="#f3f3f3" r="15"></circle><circle cx="171.825" cy="115.371" fill="#f78e36" r="15"></circle><path d="m382.5 234.868h-47c-8.284 0-15-6.716-15-15 0-8.284 6.716-15 15-15h47c8.284 0 15 6.716 15 15 0 8.284-6.716 15-15 15z" fill="#29cef6"></path><path d="m459.5 294.868h-124c-8.284 0-15-6.716-15-15 0-8.284 6.716-15 15-15h124c8.284 0 15 6.716 15 15 0 8.284-6.716 15-15 15z" fill="#ffc328"></path><path d="m422.665 354.868h-87.165c-8.284 0-15-6.716-15-15 0-8.284 6.716-15 15-15h87.165c8.284 0 15 6.716 15 15 0 8.284-6.716 15-15 15z" fill="#f78e36"></path><g><path d="m474.5 71.5h-26.261c-4.143 0-7.5 3.357-7.5 7.5s3.357 7.5 7.5 7.5h26.261c12.406 0 22.5 10.094 22.5 22.5v34.5h-482v-34.5c0-12.406 10.093-22.5 22.5-22.5h377.809c4.143 0 7.5-3.357 7.5-7.5s-3.357-7.5-7.5-7.5h-377.809c-20.678 0-37.5 16.822-37.5 37.5v82.681c0 4.143 3.358 7.5 7.5 7.5s7.5-3.357 7.5-7.5v-33.181h482v193.366c0 4.143 3.357 7.5 7.5 7.5s7.5-3.357 7.5-7.5v-242.866c0-20.678-16.822-37.5-37.5-37.5z"></path><path d="m504.5 375.994c-4.143 0-7.5 3.357-7.5 7.5v19.506c0 12.406-10.094 22.5-22.5 22.5h-437c-12.407 0-22.5-10.094-22.5-22.5v-179.133c0-4.143-3.358-7.5-7.5-7.5s-7.5 3.357-7.5 7.5v179.133c0 20.678 16.822 37.5 37.5 37.5h437c20.678 0 37.5-16.822 37.5-37.5v-19.506c0-4.142-3.357-7.5-7.5-7.5z"></path><path d="m108.482 234.457c-2.929-2.928-7.678-2.928-10.606 0l-45.07 45.07c-1.407 1.407-2.197 3.314-2.197 5.304s.79 3.896 2.197 5.304l44.474 44.474c1.464 1.464 3.384 2.196 5.303 2.196s3.839-.732 5.303-2.196c2.929-2.93 2.929-7.678 0-10.607l-39.171-39.17 39.767-39.767c2.93-2.93 2.93-7.678 0-10.608z"></path><path d="m209.344 334.608c1.464 1.464 3.384 2.196 5.303 2.196s3.839-.732 5.303-2.196l44.475-44.474c1.406-1.407 2.196-3.314 2.196-5.304s-.79-3.896-2.196-5.304l-45.071-45.07c-2.929-2.928-7.678-2.928-10.606 0-2.929 2.93-2.929 7.678 0 10.607l39.768 39.767-39.171 39.17c-2.93 2.931-2.93 7.679-.001 10.608z"></path><path d="m131.99 362.234c3.025 0 5.876-1.844 7.013-4.841l53.294-140.398c1.47-3.873-.478-8.204-4.35-9.674-3.872-1.471-8.204.478-9.673 4.35l-53.294 140.4c-1.47 3.872.478 8.203 4.35 9.673.876.333 1.775.49 2.66.49z"></path><path d="m33.006 115.371c0 12.406 10.093 22.5 22.5 22.5s22.5-10.094 22.5-22.5-10.093-22.5-22.5-22.5-22.5 10.094-22.5 22.5zm30 0c0 4.136-3.364 7.5-7.5 7.5s-7.5-3.364-7.5-7.5 3.364-7.5 7.5-7.5 7.5 3.364 7.5 7.5z"></path><path d="m91.166 115.371c0 12.406 10.093 22.5 22.5 22.5s22.5-10.094 22.5-22.5-10.093-22.5-22.5-22.5-22.5 10.094-22.5 22.5zm30 0c0 4.136-3.364 7.5-7.5 7.5s-7.5-3.364-7.5-7.5 3.364-7.5 7.5-7.5 7.5 3.364 7.5 7.5z"></path><path d="m149.325 115.371c0 12.406 10.093 22.5 22.5 22.5s22.5-10.094 22.5-22.5-10.093-22.5-22.5-22.5-22.5 10.094-22.5 22.5zm30 0c0 4.136-3.364 7.5-7.5 7.5s-7.5-3.364-7.5-7.5 3.364-7.5 7.5-7.5 7.5 3.364 7.5 7.5z"></path><path d="m335.5 242.368h47c12.406 0 22.5-10.094 22.5-22.5s-10.094-22.5-22.5-22.5h-47c-12.406 0-22.5 10.094-22.5 22.5s10.094 22.5 22.5 22.5zm0-30h47c4.136 0 7.5 3.364 7.5 7.5s-3.364 7.5-7.5 7.5h-47c-4.136 0-7.5-3.364-7.5-7.5s3.364-7.5 7.5-7.5z"></path><path d="m335.5 302.368h124c12.406 0 22.5-10.094 22.5-22.5s-10.094-22.5-22.5-22.5h-124c-12.406 0-22.5 10.094-22.5 22.5s10.094 22.5 22.5 22.5zm0-30h124c4.136 0 7.5 3.364 7.5 7.5s-3.364 7.5-7.5 7.5h-124c-4.136 0-7.5-3.364-7.5-7.5s3.364-7.5 7.5-7.5z"></path><path d="m335.5 362.368h87.165c12.406 0 22.5-10.094 22.5-22.5s-10.094-22.5-22.5-22.5h-87.165c-12.406 0-22.5 10.094-22.5 22.5s10.094 22.5 22.5 22.5zm0-30h87.165c4.136 0 7.5 3.364 7.5 7.5s-3.364 7.5-7.5 7.5h-87.165c-4.136 0-7.5-3.364-7.5-7.5s3.364-7.5 7.5-7.5z"></path>
</g>
</g></svg></span>
              <h3 class="u-align-center u-text u-text-5">View our <a href="https://docs.coin-tunnel.ml" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-3">docs</a>
              </h3>
              <p class="u-align-center u-text u-text-6">View our docs to start accepting Bitcoin in your online marketplace! Don't worry, it does involve a bit of coding, but you can just copy and paste our code! (Like how all the pros do it)</p>
              <a href="https://docs.coin-tunnel.ml" class="u-active-none u-border-2 u-border-palette-2-light-1 u-btn u-btn-rectangle u-button-style u-hover-none u-none u-text-body-color u-btn-4">View</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
    <%- include('partials/footer.ejs') %>

  </body>
</html>
<script>
    function onLoad() {
      gapi.load('auth2', function() {
        gapi.auth2.init();
      });
    }


</script>