.floatAnimation {
  position: relative;
  animation: float 4s infinite ease-in-out
}

@keyframes float {
  0% {
    top: 0px;
  }
  50% {
    top: -35px
  }
  100% {
    top: 0px;
  }
}

.manageDetails {
  position: relative;
  top: 5vw;
  width: 30%;
}

@keyframes scaleX {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(3) translateX(-50%);
  }
  99% {
    transform: scaleX(1);
  }
}

.handcard {
  top: -50px;
  position: relative;
  margin-left: 10%;
  width: 30%;
}

.thirdSection .image {
  position: relative;
  top: -15vw;
}

@media (max-width: 1010px) {
  .handcard {
    top: 0 !important;
  }
  .manageDetails {
    top: 0 !important;
    width: 80vw;
    padding-left: 10px;
  }
  .thirdSection .image {
    position: relative;
    top: 0 !important;
  }
}

@media (max-width: 500px) {
  .thirdSection .image {
    margin-left: 0 !important;
  }
}

.secondSection {
  margin-top: 100px;
  margin-left: 20vw;
}

#text {
  font-family: 'Source Code Pro', monospace;
  display: inline-block;
  vertical-align: middle;
  color: rgba(255, 255, 255, .70);
  letter-spacing: 2px;
}

#text2 {
  font-family: 'Source Code Pro', monospace;
  display: inline-block;
  vertical-align: middle;
  color: rgba(255, 255, 255, .70);
  letter-spacing: 2px;
}

@keyframes animated-cursor {
  from {
    border-bottom-color: rgba(0, 255, 0, .75);
  }
  to {
    border-bottom-color: transparent;
  }
}

#border {
  border-bottom: solid 3px rgba(0, 255, 0, .75);
  margin-top: 10px;
  padding-top: 10px;
  position: relative;
  display: inline-block;
  top: 10px;
  right: -7px;
  width: 20px;
  animation: animated-cursor 600ms steps(30, end) infinite;
}

#border2 {
  border-bottom: solid 3px rgba(0, 255, 0, .75);
  margin-top: 10px;
  padding-top: 10px;
  position: relative;
  display: inline-block;
  top: 10px;
  right: -7px;
  width: 20px;
  animation: animated-cursor 600ms steps(30, end) infinite;
}

.welcomeTypeWriter {
  color: white;
  margin-left: 10%;
  margin-top: 20px;
}

.tabopen {
  position: relative;
}

.tabopen:after {
  content: "";
  background: white;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  animation: 0.8s makeWider ease-in-out
}

@keyframes makeWider {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

body {
  background-color: #141414 !important;
}

.u-nav-link {
  color: white !important;
}

header {
  background-color: #272727 !important;
}

.secondary-header {
  margin-top: 20px;
}